html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width:100%;
  overflow: hidden;
  margin: 0;
}
.contenedor {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}
.logotipo{
  height: 6rem;
  margin: 0 auto;;
  width: 100%;
  margin-top: 50vh;
}
.logo {
  position: relative;
  top: 1.35rem;
  height: 4rem;
  width:15rem;
  margin: 0 auto;
}
